{
  "plugins": ["prettier-plugin-astro", "@ianvs/prettier-plugin-sort-imports"],
  "pluginSearchDirs": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5"
}
