---
import PageLayout from '@/layouts/PageLayout.astro';
import type { PageDataType } from '@/types/page';
import { about } from './data/about.astro';

const { title, description, lang, alternates } = about.data as PageDataType;
---

<PageLayout {title} {description} {lang} {alternates}>
  <p class="blurry center-container">
    Créer dans l’ombre.<br />
    Penser en marge.<br />
    Rendre visible ce qui ne l’est pas.<br />
  </p>
</PageLayout>
