---
import WithSidebar from '@/layouts/WithSidebar.astro'
const title = "Api · Kallosophia"
const description = "Page api du projet Kallosophia"
---

<WithSidebar title={title} description={description} activePage="kallosophia/dev/api">
  <h1>Api</h1>
  <p>Contenu à venir…</p>
</WithSidebar>
