---
import SEO from '@/components/SEO.astro'
const title = "Api · Kallosophia"
const description = "Page api du projet Kallosophia"
---
<SEO title={title} description={description} />

<h1>Api</h1>
<p>Contenu à venir…</p>
