---
import SEO from '@/components/SEO.astro'
const title = "Deploy · Kallosophia"
const description = "Page deploy du projet Kallosophia"
---
<SEO title={title} description={description} />

<h1>Deploy</h1>
<p>Contenu à venir…</p>
