---
import BaseLayout from '@/layouts/BaseLayout.astro'
const title = "Deploy · Kallosophia"
const description = "Page deploy du projet Kallosophia"
---

<BaseLayout lang="en" title={title} description={description} activePage="kallosophia/dev/deploy">
  <h1>Deploy</h1>
  <p>Contenu à venir…</p>
</BaseLayout>
