---
import PageLayout from '@/layouts/PageLayout.astro';
import type { PageDataType } from '@/types/page';
import { about } from './data/about.astro';

const { title, description, lang, alternates } = about.data as PageDataType;
---

<PageLayout {title} {description} {lang} {alternates}>
  <p class="blurry about">
    To create from the shadows.<br />
    To think from the margins.<br />
    To make visible what is not.<br />
  </p>
</PageLayout>
