---
import BaseLayout from '@/layouts/BaseLayout.astro'
const title = "Seemless Code"
const description = "Page index de Seemless Code"
---

<BaseLayout lang="en" title={title} description={description} activePage="index">
  <h1>Seemless Code</h1>
  <p>Contenu à venir…</p>
</BaseLayout>
