---
import WithSidebar from '@/layouts/WithSidebar.astro'
const title = "About · Kallosophia"
const description = "Page about du projet Kallosophia"
---

<WithSidebar title={title} description={description} activePage="about">
    <h1>À propos</h1>
    <p>…</p>
</WithSidebar>
