---
import SEO from '@/components/SEO.astro'
const title = "Contact · Kallosophia"
const description = "Page contact du projet Kallosophia"
---
<SEO title={title} description={description} />

<h1>Contact</h1>
<p>Contenu à venir…</p>
