---
const lang = 'en';
if (import.meta.env.SSR) {
  Astro.redirect(`/${lang}/`);
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0; url=/en/" />
    <title>Redirecting…</title>
  </head>
  <body> </body>
</html>
