---
import SEO from '@/components/SEO.astro'
const title = "Seemless Code"
const description = "Page index de Seemless Code"
---
<SEO title={title} description={description} />

<h1>Seemless Code</h1>
<p>Contenu à venir…</p>
