---
import WithSidebar from '@/layouts/WithSidebar.astro'
const title = "Seemless Code"
const description = "Page index de Seemless Code"
---

<WithSidebar title={title} description={description} activePage="index">
  <h1>Seemless Code</h1>
  <p>Contenu à venir…</p>
</WithSidebar>
