---
import { getMenu } from '@/lib/menu';
import { normalize } from '@/utils/normalize';

const { lang = 'en' } = Astro.props;
const currentPath = Astro.url.pathname;
---

<div class="menu-wrapper">
  <div class="menu">
    {
      getMenu(lang).map(({ id, label, url }) => {
        const isActive = normalize(currentPath) === normalize(url);

        return (
          <a
            id={id}
            href={url}
            {...(isActive ? { 'aria-current': 'page' } : {})}
            class={`menu-button ${id === 'settings' ? 'settings' : ''}`}
          >
            <div class="circle" />
            <span class="menu-label">{label}</span>
          </a>
        );
      })
    }
  </div>
</div>
