---
import BaseLayout from '@/layouts/BaseLayout.astro'
const title = "Kallosophia · Design"
const description = "UI/UX et direction artistique du projet."
---

<BaseLayout lang="en" title={title} description={description} activePage="kallosophia/design"   alternates={{
    fr: "https://seemlesscode.com/fr/kallosophia/design",
    en: "https://seemlesscode.com/en/kallosophia/design"
  }}>
  <h1>Design</h1>
  <p>Ce document détaille la logique visuelle du projet…</p>
</BaseLayout>
