---
import BaseLayout from '@/layouts/BaseLayout.astro'
const title = "Index · Kallosophia"
const description = "Page index du projet Kallosophia"
---

<BaseLayout lang="en" title={title} description={description} activePage="kallosophia/index">
<h1>Index</h1>
<p>Contenu à venir…</p>
</BaseLayout>
