---
import BaseLayout from '@/layouts/BaseLayout.astro'
const title = "Project management · Kallosophia"
const description = "Page gestion de project de Kallosophia"
---

<BaseLayout lang="en" title={title} description={description} activePage="kallosophia/project-management">
<h1>Project management</h1>
<p>Contenu à venir…</p>
</BaseLayout>
