---
import WithSidebar from '@/layouts/WithSidebar.astro'
const title = "Project management · Kallosophia"
const description = "Page gestion de project de Kallosophia"
---

<WithSidebar title={title} description={description} activePage="kallosophia/project-management">
<h1>Project management</h1>
<p>Contenu à venir…</p>
</WithSidebar>
